.modal {
    z-index: 100;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.modal .modal-content{
    border-radius: 20px;
    padding: 48px 32px;
    max-width: 450px;
    background-color: var(--amount-light);
    color: #fff;
}

.modal-content p{
    text-align: center;
}

.modal-content .actions{
    margin-top: 24px;
}
.modal-content .actions button{
   flex: 1;
}

