.app {
  background-color: var(--bg-dark);

  min-height: 100vh;
}

.app .app-content {
  padding: 0 20px;
  flex: 1;

  position: relative;
}

 /* animated invoice */
.invoice-enter-active,
.invoice-leave-active {
  transition: 0.8s ease all;
}
.invoice-enter-from,
.invoice-leave-to {
  transform: translateX(-700px);
}



.mobile-message {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-dark);
  color: #fff;
 
}


.mobile-message p {
  margin-top: 16px;
}

@media (min-width: 900px) {
  .app {
    flex-direction: row !important;
  }
}
